
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}
.bg-color{
     background: rgba(255, 144, 14, 0.1);
     
}
.header-container, main{
    max-width: 1140px;
    margin: 0 auto;
    

}
.navber{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}
.nav-links{
    display: flex;
    gap: 30px;
}
.navber h3{
    font-size: 40px;
    
}
.nav-item{
    list-style: none;
}
.nav-item a{
    text-decoration: none;
    color:rgb(66, 66, 66);
}
.banner-container{
    text-align: center;
    padding-top: 70px;
}
.banner-container h2{
    font-size: 3.5rem;
    font-weight: 700;
}
.banner-container p{
    color: rgb(114, 114, 114);
    padding-bottom: 20px;
}
.primary-btn{
    background: rgb(255, 144, 14);
    color: white;
    border: none;
    padding: 20px 20px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
}
.banner-container img{
    width: 1140px;
    padding: 50px 0;
}
.team-container{
    padding-top: 50px;
    display: flex;
    align-items: center;
    gap: 50px;
}
.img-container{
    width: 342px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.team-text-container h2{
    font-size: 3rem;
    
}
.team-text-container p{
    color: grey;
    padding: 40px 0;
}
.some-card-container{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.featur-card-container{
    display: flex;
    gap: 130px;
    margin-top: 70px;
    margin-bottom: 100px;
}
.feature-img img{
    width: 100%;
    height: 100%;
}
#experience-badge{
    padding: 45px 42px;
    margin-left: -100px;
    margin-top: -100px;
}
#section-title{
    
    border-left: 5px solid rgb(255, 144, 14);
    padding-left: 20px;
}
.feature-title{
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0,0,0,0.06);
    margin: 20px 0;
    border-radius: 8px;
}



.fact{
   border: 1px solid rgb(255, 144, 14);
   width: 240px;
   height: 240px;
   border-radius: 10px;
}
.fact h4{
    padding: 10px 0;
}
.display-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.sponsor-companies{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponsor-companies img{
    filter: grayscale(100%);
}






@media screen and (max-width:576px) {
    .navber, .featur-card-container{
        flex-direction: column;
    }
    .nav-links{
        flex-direction: column;
    }
    .banner-container img{
        width: calc(100% - 10px);
        
    }
    .team-container{
        flex-direction: column;
    }
    .img-container, .some-card-container{
        grid-template-columns: 1fr;
    }
    .some-card-container{
        justify-items: center;
        gap: 30px;

    }
    .team-text-container{
        text-align: center;
    }
    .sponsor-companies{
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 30px;
    }
    .featur-card-container{
        margin: 0 10px;
    }
    #experience-badge{
        display: none;
    }
    
}